<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LPO</title>
</head>
<body>

<div>

    {% for nichoir in nichoirs %}
        <h1>{{ nichoir.nom }}</h1>
    {% endfor %}
</div>
</body>
</html>