<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/web/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <title>LPO</title>
</head>
<body>

{% block header %}

{% endblock %}

{% block body %}

{% endblock %}


<script>
    var info = document.querySelector('.info');
    document.querySelector('.nom').addEventListener('mouseover', function () {
        info.style.opacity = '1';
    });
    document.querySelector('.user').addEventListener('mouseleave', function () {
        info.style.opacity = '0';
    });
</script>
</body>
</html>
